extends layout

block content
  script(src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
  h1= title
  p Welcome to #{title}
  p#data #{results}
  canvas#chart
  img#img
  script.
    var ctx = document.getElementById('chart').getContext('2d');
    var results = JSON.parse(document.getElementById('data').innerHTML);
    var temperature = [];
    var humidity = [];
    var times = [];
    results.forEach(function(result) {
      temperature.push(result.temperature);
      humidity.push(result.humidity);
      date = new Date(result.date);
      times.push(date.getMonth()+1 + '/' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes());
    })
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: times,
        datasets: [{
          label: 'temperature',
          data: temperature,
          backgroundColor: "rgba(153,255,51,0.4)"
        }],
        //- options:{
        //-   animation:{
      	//- 		duration:0
        //-     onComplete:function(animation){
        //-       console.log(ctx.toBase64Image());              
        //-       document.getElementById('img').src = ctx.toBase64Image();
        //-     }
        //-   }
        //- }
      }
    });
